﻿@model IEnumerable<TicketingSystem4.Models.Entities.Ticket>

<table class="table">
    <tr>
        <th>
            Customer Name:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    if (User.Identity.Name == item.TUsername)
    {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreFName) @Html.DisplayFor(modelItem => item.CreLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
}

</table>
