﻿@model TicketingSystem4.Models.Entities.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicianID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicianID)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ProgressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
