﻿@model TicketingSystem4.Models.Entities.Ticket

@{
    ViewBag.Title = "Details";
    string department = ViewBag.department;
    string name = ViewBag.name;
    string solution = ViewBag.solution;
    string progress = ViewBag.progress;
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Customer Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreFName) @Html.DisplayFor(model => model.CreLName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CreLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreLName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TechnicianID)
        </dt>

        <dd>
            @Html.Label(name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgressID)
        </dt>

        <dd>
            @Html.Label(progress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionID)
        </dt>

        <dd>
            @Html.Label(solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.Label(department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
