﻿@model IEnumerable<TicketingSystem4.Models.Entities.Ticket>

@{
    ViewBag.Title = "Index";
  
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   
@if (User.IsInRole("Customer"))
{
    <tr>
        <th>
            Customer Name:
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TechnicianID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>
    foreach (var item in Model)
    {
        if (User.Identity.Name == item.Username)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreFName) @Html.DisplayFor(modelItem => item.CreLName)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
            </td>
        </tr>
        }
    }
}
else if (User.IsInRole("Technician"))
{
    @Html.Partial("_TechnicianIndex")
}
else
{
    <tr>
        <th>
            Customer Name:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreFName) @Html.DisplayFor(modelItem => item.CreLName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })|
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            
            </td>
        </tr>
    }
}

</table>
