﻿@model IEnumerable<TicketingSystem4.Models.Entities.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnicianID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolutionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnicianID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolutionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
